$font-size: 14px;
$background: #EEEEEE;
$yellow: #fbc749;
$blue: #3483FA;
$gray: #b0b0b0;
$sub-text: #666666;
$text: #000000;

$columnas: 12;
$gutter: 1rem;
$columna-width: 100 / $columnas;
$sm-size: 576px;
$md-size: 720px;
$lg-size: 992px;
$xl-size: 1140px;

$sizes: $sm-size, $md-size, $lg-size, $xl-size;
$border-radius: 4px;

@import "helpers";
